<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        My Quotes
      </h1>
      <div class="interesting">
        <app-quote
          (click)="isFavourite = !isFavourite"
          [ngClass]="{'favourite super-favourite': isFavourite}"
          [ngStyle]="{'width.px': isFavourite ? '600' : '400'}">
        </app-quote>
        <!--<app-author></app-author>-->
      </div>
      <button class="btn btn-primary"
      (click)="onShowboring(boringBlock)">Show boring Quotes</button>
      <div class="boring"
           style="display: none"
           #boringBlock>
        <div class="very-boring">
          <app-quote></app-quote>
          <!--<app-author></app-author>-->
        </div>
      </div>
    </div>
  </div>
</div>
